@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
   <a href="https://www.linkedin.com/company/triade-solu-es/">
        <img src="https://media-exp1.licdn.com/dms/image/C4D1BAQE11hLarZ8wAw/company-background_10000/0/1573068394569?e=1645581600&v=beta&t=RsvVg-afZFXFGcTy-wK6MnEEMVHx64J1VNtzF_oqym8" width="100%" title="Linkedin Triade Soluções Inteligentes" />
    </a>    
</div>